@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
:root{
    --primary-color: rgb(38, 161, 170);
    --primary-color-dark: rgb(15, 128, 15);
}
*{
    box-sizing: border-box;
    outline: none;
}
body{
    margin: 0;
    padding: 0;
    background-image: url("/CalcularSalario/assets/img/sl.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Opens sans', sans-serif;
    font-weight: bolder;
}
.container{
    max-width: 600px;
    margin: 100px auto;
    background-color: rgba(47, 207, 26, 0.432);
    padding: 20px;
    border-radius: 20px;
}
form input, form label, form button{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
form input:focus{
    outline: 1px solid var(--primary-color);
}
form input{
    color: black;
    font-size: 20px;
    height: 40px;
    padding:  0 10px;
}
form button{
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    height: 40px;
    cursor: pointer;
    margin-top: 20px;
}
form button:hover{
    background-color: var(--primary-color-dark);
}
.paragrafo-resultado, .bad{
    background-color: rgba(24, 19, 88, 0.438);
    padding: 10px 20px;
}
.bad{
    background-color: rgb(139, 20, 20);
}